services:
  nodejs:
    build: .
    ports:
      - 4000:4000
    environment:
      - MONGO_URI=mongodb://db:27017/healthcheck
      - TOKEN_KEY=your_secret_key_here
      - APP_PORT=4000
      - NODE_ENV=development
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./src:/app/src
      - ./config:/app/config
      - ./dist:/app/dist
      - ./package.json:/app/package.json
      - ./tsconfig.json:/app/tsconfig.json
    # Watch src folder and rebuild on changes using nodemon
    command: npx nodemon --exec "npm run build && node dist/index.js" --watch src --ext ts,js

  db:
    image: mongo
    ports:
      - 27018:27017
    hostname: db
    volumes:
      - data:/data/db
      - config:/data/configdb
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 5s
      timeout: 5s
      retries: 5

  mongo-express:
    image: mongo-express
    ports:
      - 8082:8081
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://db:27017/healthcheck
      - ME_CONFIG_MONGODB_SERVER=db
    restart: unless-stopped

volumes:
  data:
  config:
